$themeColors:(
    themeColorsHeadText:rgb(24, 24, 24), 
    themeColorsMainText: rgb(39, 39, 39),
    themeColorsBG1:rgb(245, 245, 255),
    themeColorsBG2:rgb(226, 226, 252),
    themeColorLink:rgb(107, 107, 107),
);
$btnColor:(
    btnColorBG:#1f944e,
    btnColorText: white
);

$formColors:(
    formColorBG:white,
    formColorGreetingsText:white,
    formColorOverlay1:#1f944e,
    formColorOverlay2:#0b3f20,
)
