:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: linear-gradient(90deg, rgb(245, 245, 255), rgb(226, 226, 252)) 
}

.wrapper{
  max-width: 700px;
  margin: 200px auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.249);
  padding: 40px;
  overflow: hidden;
  position: relative;

}
.form{
  min-height: 400px;
  display: flex;
  align-items: center;
}
.form__links{
  display: flex;
  justify-content: center;
  gap:10px;

}
.form__infoWrapper{
  max-width: 250px;
  width: 100%;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  input{
    width: 100%;
    background-color: rgb(240, 239, 239);
    border: none;
    padding: 10px;
    border-radius: 8px;
  }
  a{
    display: block;
    text-decoration: none;
    color: rgb(107, 107, 107);
  }
  
  
}
.btn{
  font-weight:700;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #1f944e;
}

.greetings,.register,.form__infoWrapper{
  position: absolute;
}
.register{
  right: 40px;
  max-width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.greetings{
  left: -370px;
}
.form__link{
  border: 1px solid rgb(160, 160, 160);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  svg{
    width: 16px;
    height: 16px;
    color: rgb(35, 35, 35);
  }
}
